parameters:

search:
	factory:
		in: %appDir%/components
		classes:
			- *Factory
		tags:
			- nette.inject
	components:
			in: %appDir%/components
			classes:
				- *Comp
			tags:
				- nette.inject
				- nette.autowired
	section:
		in: %appDir%/Model
		classes:
			- *Repository
			- *DataSource
			- *DataManager
			- *ProcessManager
			- *Process
			- *Manager

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
